@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar
body::-webkit-scrollbar {
	display: none;
} */

nav > div:nth-child(2)::-webkit-scrollbar {
	width: 7px;
	height: 5px;
	background-color: #f5f5f5;
}

nav > div:nth-child(2)::-webkit-scrollbar-thumb {
	background-color: #686868;
	border-radius: 20px;
}

div::-webkit-scrollbar {
	width: 7px;
	height: 5px;
	background-color: #f5f5f5;
}

div::-webkit-scrollbar-thumb {
	background-color: #686868;
	border-radius: 20px;
}

::-webkit-scrollbar {
	width: 7px;
	height: 5px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #686868;
	border-radius: 20px;
}
body {
	background-color: #70a2e73f;
}
